<mat-card fxFlex>
  <mat-card-header>
    <mat-card-title>{{ elemData.title }}</mat-card-title>
    <mat-card-subtitle>{{ elemData.date | date }}</mat-card-subtitle>
  </mat-card-header>
  <img matCardImage *ngIf="elemData.featured_media" [src]="elemData.featured_media[0].sizes[imgSize].src">
  <mat-card-content [innerHTML]="elemData.excerpt"></mat-card-content>
  <mat-card-actions align="start">
    <a mat-button [routerLink]="[elemData.url]">View</a>
  </mat-card-actions>
</mat-card>

