<mat-card>
  <mat-card-header>
      <mat-card-title *ngIf="title !== null">{{title}}</mat-card-title>
      <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <form role="search" method="get">
      <mat-form-field appearance="standard" fxFlex>
        <mat-label>{{ placeholder }}</mat-label>
        <input matInput>
        <mat-icon matSuffix>search</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>

    </form>
  </mat-card-content>
  <!-- <mat-card-actions>
      <button mat-button>Ok</button>
  </mat-card-actions> -->
</mat-card>
