<header fxLayout="column" 
  [style.backgroundImage]="headerImg?.src"
  [ngClass]="headerImg?.class">
  <mat-toolbar 
    color="primary" 
    fxFlexOrder="1"
    
    >
    <section class="content" fxLayout="row" fxLayoutAlign="space-between center">
        <app-brand fxFlexOrder="1" 
          [brand]="brand | async">
        </app-brand>

        <app-nav fxFlexOrder="1" 
          *ngIf="menus | async as menusArr" 
          [menus]="menusArr">
        </app-nav>
    </section>
    
  </mat-toolbar>
  
  <!-- <app-smooth-height-img 
    [img]="headerImg"
    fxFlexOrder="2" 
    class="header-image-background">
  </app-smooth-height-img> -->
  <!-- <div appSmoothHeight="{{headerImg}}">
      <img
        fxFlexOrder="2" 
        [src]="headerImg?.src" 
        class="header-image-background">
    </div> -->
</header>

