header{
    display: flex;
    min-height: 64px;
    height:64px;
    transition: all 0.6s ease;
    background-image: none;
    // background-color: #3f51b5;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 100vmax rgba(63,81,181, 1);
    &.bg {
        transition: all 0.6s ease;
        height:80vh;
        width:100%;
        // background-color: #fff;
        box-shadow: inset 0 0 0 100vmax rgba(63,81,181, 0);
        
    }
    mat-toolbar {
        // transition: all 1s ease 1s;
        background:transparent;
        // display: flex;
        //&.no-bg {
            // background:transparent;
            // transition: all 1s ease;
        // }
        .content {
            width:100%;
            max-width: 1200px;
            margin: 0 auto;
        }
    }
    .header-image-background {
        // margin-top: -64px;
        max-width: 100vw;
        max-height: 100vh;
        width:100%;
        height:100%;
        opacity:1;
        transition: all 0.2s ease-in-out;
        &.close{
            height:0;
            transition: all 0.2s ease-in-out;
            margin-top:0;
            opacity:0;
        }
    }
} 
