

<div  [ngClass]="page.template" class="container" fxFlex>
  <div class="content" fxFlex="70">
    <h2>Page: {{page.title}}</h2>
    <div [innerHtml]="page.content | safe: 'html'"></div>
    <!-- <div [innerHtml]="page.content | safe: 'html'"> -->
        <!-- <div *dynamicComponent="page.content | safe: 'dynamic'; context: {onClickAnchor: onClickAnchor, _h: _h};"></div> -->

        
    <!-- </div> -->
  </div>
  <app-sidebar-vertical *ngIf="isSidebarRight" fxFlex="30" class="sidebar"></app-sidebar-vertical>
</div>

