:host {
    // width: 100%;
    // height: 100%;
    // background: #5942f4;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // color: white;
    // font-family: Bangers;
    // font-size: 2rem;
    // margin: 3rem auto;
  
    // position: absolute;
    display: flex;
    width:100%;
    height:100%;
    flex-direction: column;
    // padding:10px;
  }
  .container {
    height:100%;
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
    display:flex;

    flex-direction: row;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    .content {
      padding:10px;
    }
    .sidebar {
      padding:10px;
    }
  }
