<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
        <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
        <mat-nav-list>
            <a mat-list-item 
              *ngFor="let link of list" 
              (click)="onClickAnchor(link.href,$event, link.reload)"
              href="{{ link.href }}">
              {{ link.content }}
            </a>
        </mat-nav-list>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button mat-button>Ok</button>
    </mat-card-actions> -->
</mat-card>