<!-- <div [innerHTML]="(data | async).rendered | safe: 'html'"></div> -->
<mat-card [innerHTML]="html | safe: 'html'">
  <!-- <div *dynamicComponent="html | safe: 'dynamic'; context: {onClickAnchor: onClickAnchor, _h: _h};"></div> -->
  
</mat-card>
