<div class="fullscreen" 
    *ngIf="isLoading | async" 
    fxLayout="column" fxLayoutAlign="center center" [@fadeAnimation] >
    <mat-spinner 
        diameter="50">
    </mat-spinner>
</div>
<app-header *ngIf="!(isLoading | async)"></app-header>
<div id="main" class="main" #main
    *ngIf="!(isLoading | async)"  
    [@animRoutes]="o.isActivated ? o.activatedRoute : ''" 
    (@animRoutes.start)="pageTransitionStart()" 
    (@animRoutes.done)="pageTransitionFinish()">
    <router-outlet #o="outlet"></router-outlet>
</div>
<app-footer *ngIf="!(isLoading | async)"></app-footer>
