:host {
    min-height:100vh;
    display:flex;
    flex-direction: column;
    
}
.fullscreen {
    width: 100vw;
    height: 100vh;
    position: fixed;

    z-index:999;
    background:#fefefe;
    overflow: hidden;
    opacity: 1;
}
.main {
    position: relative;
    
    // z-index:1;
    flex: 1;
    // display:block;
    // display:flex;
    // flex-direction: column;
    // width: 100%;
    // height: 100%;
    min-height:50vh;
    // height: 100%;
    transition: all 600ms ease;
    overflow:hidden;
    
    // height: 100%;
}
/deep/ router-outlet ~ * {
    // position:absolute;
    display: block;
    // flex:1;
    // position: absolute;
    width: 100%;
    height: 100%;
    // transition: height 3.15s ease-out;

    // height:100%;
    // opacity: 0;
}

/*  /deep/ .page-transitioned router-outlet ~ * {
    // position:relative
 }
/deep/ .page-transitioned .main {
    // height: 100%;
    // transition: all 3.15s ease-out;
} */