<mat-spinner *ngIf="isLoading | async"
  mode="indeterminate" style="margin:20px auto;">
</mat-spinner>
<div fxLayout="row wrap" [fxLayoutGap]="gap" fxLayoutWrap>



  <app-single-post fxFlex="0 2 calc(100%/{{columns}} - {{gap}})" 

    *ngFor="let post of posts | async" class="post-element"

    [elemData]="post" [imgSize]="imgSizes"></app-single-post>



</div>

