:host {
    padding:10px;
}
.page {
    height:100%;
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
    display:flex;

    flex-direction: row;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    .content {
      padding:10px;
    }
    .sidebar {
      padding:10px;
    }
  }