<div [ngClass]="page.template" class="page">
        <div class="content" fxFlex="70">
            <app-post-list 
                [columns]="posts.col" 
                [nPosts]="posts.per_page"
                [gap]="posts.gap"
                [imgSizes]="posts.imgSize"></app-post-list>
        </div>
        <app-sidebar-vertical *ngIf="isSidebarRight" fxFlex="30" class="sidebar"></app-sidebar-vertical>
</div>