<!-- <div [innerHTML]="(data | async).rendered | safe: 'html'"></div> -->
<!-- <div *dynamicComponent="(data | async).rendered | safe: 'dynamic'; context: {onClickAnchor: onClickAnchor, _h: _h};"></div>
 -->
 <ndc-dynamic
    *ngFor="let widget of widgets | async"
    [ndcDynamicComponent]="widget.component"
    [ndcDynamicInputs]="widget.inputs"
    [ndcDynamicOutputs]="widget.outputs"
></ndc-dynamic>