<footer>
<section class="content" fxLayout="row" fxLayoutAlign="space-between center">
  <app-nav fxFlexOrder="1"
    fxFlex
    *ngIf="menus | async as menusArr" 
    [menus]="menusArr">
  </app-nav>
</section>
</footer>

