/* You can add global styles to this file, and also import other style files */
html, body {
    margin:0;
    padding:0;
}
* {
    box-sizing: border-box;
}
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }


