<div fxLayout="row" fxLayoutAlign="space-around">
    
  <a mat-button *ngFor="let menu of menus" (click)="onClickMenu(menu.url, $event)" href="{{menu.url}}">
    <h3>{{menu.title}}</h3>
  </a>
</div>
